{% extends 'base.html' %}

{% load static %}

{% block content_block %}
    <div class="container-fluid">
        <div class="row">
           <div class="col">
                <h1>Contact Us</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-10 col-md-8 col-xl-6">
                <div>
                    <p >By Email</p>
                    <p>For any inquiries, please send us an email with your question at <a href="mailto:customerservices@AAAA.com">customerservices@AAAA.com.</a></p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus distinctio ullam perspiciatis, veniam sequi placeat?</p>
                </div>
                <div>
                    <p>By Phone</p>
                    <p>020 7777 7777</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, quibusdam odit officiis reiciendis praesentium odio nulla delectus officia porro mollitia?</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id, cum.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}