{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    {% if object.image %}
                    <img src="{{ object.image.url }}" class="card-img-top" alt="{{ object.name }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description|truncatewords:12 }}</p>
                        <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}